body{
    background-color: #a2d1e0;
}
.navbar{
    background-color: royalblue;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    p {}
}